POSTGRES_USER=myuser
POSTGRES_PASSWORD=change-me
POSTGRES_DB=appdb

ADMIN_USER=change-me
ADMIN_PASSWORD=change-me

AUTH_SECRET=change-me <openssl rand -hex 32>
INTERNAL_SECRET=change-me <openssl rand -hex 32>
AUTH_GOOGLE_SECRET=change-me
AUTH_GOOGLE_ID=change-me
